.elementor-258 .elementor-element.elementor-element-ee26353:not(.elementor-motion-effects-element-type-background),
.elementor-258 .elementor-element.elementor-element-ee26353>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-258 .elementor-element.elementor-element-ee26353 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 30px 30px 30px;
}

.elementor-258 .elementor-element.elementor-element-ee26353>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-258 .elementor-element.elementor-element-5238b17 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-5238b17 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-5238b17 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-258 .elementor-element.elementor-element-5238b17 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-5238b17 .elementor-icon-list-item>a {
    font-family: "Montserrat", montserrat;
    font-size: 24px;
    font-weight: 700;
}

.elementor-258 .elementor-element.elementor-element-5238b17 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-ca44834 {
    color: #FFFFFF;
    font-size: 16px;
}

.elementor-258 .elementor-element.elementor-element-e768307 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 7px;
    --grid-row-gap: 0px;
}

.elementor-258 .elementor-element.elementor-element-e768307 .elementor-widget-container {
    text-align: left;
}

.elementor-258 .elementor-element.elementor-element-e768307 .elementor-social-icon {
    background-color: #F5890000;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #808080;
}

.elementor-258 .elementor-element.elementor-element-e768307 .elementor-social-icon i {
    color: var( --e-global-color-secondary);
}

.elementor-258 .elementor-element.elementor-element-e768307 .elementor-social-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-258 .elementor-element.elementor-element-e768307 .elementor-icon {
    border-radius: 1px 1px 1px 1px;
}

.elementor-258 .elementor-element.elementor-element-e768307>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-258 .elementor-element.elementor-element-e52917c .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-e52917c .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-e52917c {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-258 .elementor-element.elementor-element-e52917c .elementor-icon-list-icon {
    padding-right: 12px;
}

.elementor-258 .elementor-element.elementor-element-e52917c .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-e52917c .elementor-icon-list-item>a {
    font-family: "Montserrat", montserrat;
    font-size: 24px;
    font-weight: 700;
}

.elementor-258 .elementor-element.elementor-element-e52917c .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-8c7df6e {
    padding: 0px 0px 0px 0px;
}

.elementor-258 .elementor-element.elementor-element-3adbbfc>.elementor-widget-container {
    padding: 10px 10px 10px 10px;
    background-color: var( --e-global-color-72b6716);
    border-radius: 5px 5px 5px 5px;
}

.elementor-258 .elementor-element.elementor-element-021f415>.elementor-widget-container {
    padding: 1px 1px 1px 1px;
    background-color: var( --e-global-color-72b6716);
    border-radius: 5px 5px 5px 5px;
}

.elementor-258 .elementor-element.elementor-element-d05b812>.elementor-widget-container {
    padding: 1px 1px 1px 1px;
    background-color: var( --e-global-color-primary);
    border-radius: 5px 5px 5px 5px;
}

.elementor-258 .elementor-element.elementor-element-57a973f>.elementor-widget-container {
    padding: 1px 1px 1px 1px;
    background-color: var( --e-global-color-72b6716);
    border-radius: 5px 5px 5px 5px;
}

.elementor-258 .elementor-element.elementor-element-3d527a7>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
}

.elementor-258 .elementor-element.elementor-element-bee6f03 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-bee6f03 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-bee6f03 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-258 .elementor-element.elementor-element-bee6f03 .elementor-icon-list-icon {
    padding-right: 12px;
}

.elementor-258 .elementor-element.elementor-element-bee6f03 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-bee6f03 .elementor-icon-list-item>a {
    font-family: "Montserrat", montserrat;
    font-size: 24px;
    font-weight: 700;
}

.elementor-258 .elementor-element.elementor-element-bee6f03 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(35px/2);
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(35px/2);
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(35px/2);
    margin-left: calc(35px/2);
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-35px/2);
    margin-left: calc(-35px/2);
}

body.rtl .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-35px/2);
}

body:not(.rtl) .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-35px/2);
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-icon {
    padding-right: 14px;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-item>a {
    font-family: "Montserrat", montserrat;
    font-size: 18px;
    font-weight: 500;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-258 .elementor-element.elementor-element-6b83ab9 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-6b83ab9 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-6b83ab9 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-258 .elementor-element.elementor-element-6b83ab9 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-6b83ab9 .elementor-icon-list-item>a {
    font-family: "Montserrat", montserrat;
    font-size: 24px;
    font-weight: 700;
}

.elementor-258 .elementor-element.elementor-element-6b83ab9 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(7px/2);
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(7px/2);
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(7px/2);
    margin-left: calc(7px/2);
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-7px/2);
    margin-left: calc(-7px/2);
}

body.rtl .elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-7px/2);
}

body:not(.rtl) .elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-7px/2);
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-12fa22b {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
    width: auto;
    max-width: auto;
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-item>a {
    font-family: "Montserrat", montserrat;
    font-size: 16px;
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-12fa22b .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-258 .elementor-element.elementor-element-422c0fc:not(.elementor-motion-effects-element-type-background),
.elementor-258 .elementor-element.elementor-element-422c0fc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary);
}

.elementor-258 .elementor-element.elementor-element-422c0fc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 10px 10px 10px;
}

.elementor-258 .elementor-element.elementor-element-422c0fc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-258 .elementor-element.elementor-element-9a8fb69.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-258 .elementor-element.elementor-element-9a8fb69.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-258 .elementor-element.elementor-element-9a8fb69.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-258 .elementor-element.elementor-element-5d95564 {
    text-align: center;
    color: var( --e-global-color-72b6716);
    font-size: 16px;
}

.elementor-bc-flex-widget .elementor-258 .elementor-element.elementor-element-78ed95f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-258 .elementor-element.elementor-element-78ed95f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-icon i {
    color: var( --e-global-color-72b6716);
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-icon svg {
    fill: var( --e-global-color-72b6716);
    transition: fill 0.3s;
}

.elementor-258 .elementor-element.elementor-element-58b824d {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-item>a {
    font-size: 16px;
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-text {
    color: var( --e-global-color-72b6716);
    transition: color 0.3s;
}

.elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FFFFFF;
}

@media(min-width:768px) {
    .elementor-258 .elementor-element.elementor-element-52152b1 {
        width: 25%;
    }
    .elementor-258 .elementor-element.elementor-element-94c417f {
        width: 25%;
    }
    .elementor-258 .elementor-element.elementor-element-464f8fa {
        width: 24.997%;
    }
    .elementor-258 .elementor-element.elementor-element-7c1fe7d {
        width: 25%;
    }
}

@media(max-width:767px) {
    .elementor-258 .elementor-element.elementor-element-ee26353 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-258 .elementor-element.elementor-element-e768307>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-e52917c>.elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-52152b1 {
        width: 25%;
    }
    .elementor-258 .elementor-element.elementor-element-94c417f {
        width: 25%;
    }
    .elementor-258 .elementor-element.elementor-element-021f415>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-464f8fa {
        width: 25%;
    }
    .elementor-258 .elementor-element.elementor-element-d05b812>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-7c1fe7d {
        width: 25%;
    }
    .elementor-258 .elementor-element.elementor-element-57a973f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-3d527a7>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-258 .elementor-element.elementor-element-bee6f03>.elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(18px/2);
    }
    .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(18px/2);
    }
    .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(18px/2);
        margin-left: calc(18px/2);
    }
    .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-18px/2);
        margin-left: calc(-18px/2);
    }
    body.rtl .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-18px/2);
    }
    body:not(.rtl) .elementor-258 .elementor-element.elementor-element-74ebca3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-18px/2);
    }
    .elementor-258 .elementor-element.elementor-element-6b83ab9>.elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }
    .elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-258 .elementor-element.elementor-element-58b824d .elementor-icon-list-item>a {
        font-size: 16px;
    }
}